.column {
    float: left;
    width: 30%;
    padding: 5px;
}

/* body {
    background-image: url('../imgs/koenigsegg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1000px;
    background-position-y: top;

} */

img#one {
    margin-top: 350px;
    margin-left: 300px;
    width: 400px;
    border-radius: 10px;
}

img#two {
    margin-top: 350px;
    margin-left: 300px;
    width: 400px;
    height: 224px;
    border-radius: 10px;
}

img#three {
    margin-top: 350px;
    margin-left: 300px;
    width: 400px;
    height: 224px;
    border-radius: 10px;
}

.center {
    position: absolute;
    z-index: -1;
    left: 715px;
    top: 100px;
    opacity: 70%;
}
img#four {
    height: 1200px;
    position: relative;
}

.gemera {
    margin-top: 5px;
    margin-left: 470px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.jesko {
    margin-top: 5px;
    margin-left: 470px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.cc850 {
    margin-top: 5px;
    margin-left: 470px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.home a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    position: absolute;
    bottom: 200px;
    left: 50%;
    color: black;
    border-radius: 5px;
    background-color:rgb(109, 97, 97);
}

    